@import "tailwindcss";

:root {
  --bg-primary: #212121;
  --bg-secondary: #1A1A1A;
  --bg-tertiary: #2C2C2C;
  --bg-hover: #3a3a3a;
  --bg-chart: #2A2A2A;
  --border-primary: #5F5F5F;
  --text-primary: #FFFFFF;
  --text-secondary: #B0B0B0;
  --text-tertiary: #757575;
  --text-gray-400: #9CA3AF;

  --accent-primary: #7B99FF;
  --accent-primary-hover: #6a87e6;

  --status-online: #10B981;
  --status-offline: #6B7280;
  --status-success: #10B981;
  --status-error: #EF4444;
  --shadow-sm: 0px 2px 4px 0px rgba(1, 5, 17, 0.2);
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}

.light {
  --bg-primary: #FFFFFF;
  --bg-secondary: #F5F5F5;
  --bg-tertiary: #E5E5E5;
  --bg-hover: #D4D4D4;
  --bg-chart: #F9F9F9;

  --border-primary: #D1D5DB;

  --text-primary: #1F2937;
  --text-secondary: #4B5563;
  --text-tertiary: #6B7280;
  --text-gray-400: #9CA3AF;

  --accent-primary: #7B99FF;
  --accent-primary-hover: #6a87e6;

  --status-online: #10B981;
  --status-offline: #6B7280;
  --status-success: #10B981;
  --status-error: #EF4444;

  --shadow-sm: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.bg-hover {
  background-color: var(--bg-hover);
}

.border-primary {
  border-color: var(--border-primary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.card {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-md);
}

.card table+div[class*="border-t"] {
  margin-top: -1px;
}

.input-base {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  transition: border-color 0.2s;
}

.input-base:focus {
  outline: none;
  border-color: var(--accent-primary);
}

.input-base::placeholder {
  color: var(--text-secondary);
}

@media (min-width: 640px) {
  .input-base {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
}

.button-primary {
  background-color: var(--accent-primary);
  color: var(--text-primary);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.button-primary:hover {
  background-color: var(--accent-primary-hover);
}

.button-secondary {
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.button-secondary:hover {
  background-color: var(--bg-hover);
}

.button-secondary:disabled {
  opacity: 0.4;
}

.btn-action-edit {
  color: var(--text-primary);
  transition: color 0.2s, background-color 0.2s;
}

.btn-action-edit:hover {
  color: #60A5FA;
  background-color: var(--bg-tertiary);
}

.btn-action-delete {
  color: var(--text-primary);
  transition: color 0.2s, background-color 0.2s;
}

.btn-action-delete:hover {
  color: #EF4444;
  background-color: var(--bg-tertiary);
}

table {
  border-collapse: collapse;
}

table tbody {
  border: none;
}

table tbody tr:last-child {
  border-bottom: none
}

.bg-accent-primary {
  background-color: var(--accent-primary);
}

.border-accent-primary {
  border-color: var(--accent-primary);
}

/* Ocultar scrollbar pero mantener funcionalidad de scroll */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

@import '../components/_components.scss';