.custom-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.custom-checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .user-table-col-actions {
        min-width: 90px;
        width: 12%;
    }
}